h1{
	color: white;
	text-align: center;
	font-size: 10vw;
}
body {
  color: white;
  background-image: url("https://i.pinimg.com/736x/a7/31/18/a73118d8875c5cd2c0e9c64cb00f22c1.jpg");
  text-align: center;
}
